body {
  background-color: #1c1e22;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #feda4a;
  border-style: solid;
  border-width: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
}

h3 {
  color: #feda4a;
}

ul {
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;

}

.people_info {
  margin: auto;
  padding-left: 20px;
  border-style: double;
  border-color: #feda4a;
  overflow-wrap: break-word;
}

.search-tool {
  justify-content: center;
  padding-top: 20px;
}

.prompt-me {
  text-align: center;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
}

#search-input {
  max-width: 300px;
}

#search-button {
  margin-left: 20px;
}

.search-results {
  margin: auto;
  padding-left: 20px;
  border-style: double;
  border-color: #feda4a;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.searched-people {
  color: #feda4a;
  background-color: #1c1e22;  
}
